.haun-liitetyt-kohteet-section {
  .content {
    display: flex;
    flex-direction: column;
    .kouta-grid {
      width: 100%;
      .hakukohde-cell {
        text-decoration: underline;
        cursor: pointer;
        color: #2da0c7;
      }
    }
  }
}
