.toteutuksen-haut-section {
  .content {
    height: 100px;
    .instruction-title {
      font-weight: bold;
    }
    .modal-box-content {
      .selector-button {
        margin-right: 10px;
      }
    }
  }
}
