.koulutus-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px !important;
  margin-left: 5px;
  max-width: 50%;
  .details-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    div {
      max-width: 50%;
      display: flex;
    }
    .label-column {
      flex-grow: 1;
    }
    .value-column {
      flex-grow: 2;
      .osaamisala-list {
        margin: 0;
        list-style: none;
        padding-left: 0;
        li {
          margin: 0;
        }
      }
    }


  }
}
