body {
  font-family: "Helvetica";
  background-color: #f5f5f5;
  margin: 0;

  ul {
    li {
      list-style: none;
      padding-left: 0;
    }
  }

  input[type=text] {
    border-radius: 5px;
    border-style: solid;
    border-color: #9c9c9c;
    border-width: 1px;
    height: 30px;
    padding-left: 5px;
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}
