$black: #2a2a2a;
$white: #fff;

$gray: #666;
$gray-lighten-1: #999;
$gray-lighten-2: #aeaeae;
$gray-lighten-3: #ccc;
$gray-lighten-4: #f6f4f0;
$gray-lighten-5: #f5f5f5;

$red: #e44e4e;
$red-lighten-1: #e09191;
$red-lighten-2: #ffe9e9;

$blue: #0a789c;
$blue-lighten-1: #159ecb;
$blue-lighten-2: #00b5f0;
$blue-lighten-3: #a6dcee;
$blue-lighten-4: #def2ff;
$blue-darken-1: #00526c;

$green: #4c7f00;
$green-lighten-1: #e6ffc1;

$yellow: #ffd024;
$yellow-lighten-1: #fff7bc;