
.koulutus-publication-view {
  display: flex;
  flex-direction: column;
  .status-bar {
    display: flex;
    flex-direction: row;

    .progress-box {
      flex-grow: 1;
      justify-content: center;
    }

    .status-box {
      display: flex;
      flex-direction: row;
      .icon {
        justify-content: center;
        align-items: center;
        display: flex;
        i {
          font-size: 20px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        .link-text  {
          cursor: pointer;
          text-decoration: underline;
          color: #2da0c7;
        }
      }
    }
  }

  .multi-step-indicator {
    background-color: #e0f2fd;
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .circle-container  {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1024px;
      .stepper-circle {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin:10px;
        flex-grow: 1;
        .circle {
          height: 125px;
          width: 125px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-style: solid;
          border-width: 5px;
          font-size: 40px;
        }
        .ready {
          background-color: #2da0c7;
          border-color: white;
          color: white;
        }
        .pending {
          color: #999999;
          background-color: white;
          border-color: #cecece;
        }
        .description {
          margin-top: 5px;
          color: #6e6e7e;
        }
      }
    }
  }
  .koulutus-publication-body {
    padding: 20px;
    .button-row {
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      .small {
        height: 35px;
        width: 150px;
      }
      .big {
        height: 50px;
        width: 220px;
      }
      .secondary {
        color: #919191;
        border-color: #9c9c9c;
        background-color: initial;
      }
      .primary {
        background-color: #2da0c7;
        color: white;
      }
      button {
        background-color: initial;
        border-style: solid;
        border-radius: 5px;
        border-color: #2da0c7;
        cursor: pointer;
        margin-left: 10px;
      }
    }
    .luo-koulutus-section {
      .content {
        display: flex;
        flex-direction: row;

        .options-container {
          max-height: 250px;
          overflow-y: auto;
          width: 100%;
        }
      }
    }

  }

}