
.koulutus-publication-view {
  display: flex;
  flex-direction: column;

  padding: 20px;
  .button-row {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    .small {
      height: 35px;
      width: 150px;
    }
    .big {
      height: 50px;
      width: 220px;
    }
    .secondary {
      color: #919191;
      border-color: #9c9c9c;
      background-color: initial;
    }
    .primary {
      background-color: #2da0c7;
      color: white;
    }
    button {
      background-color: initial;
      border-style: solid;
      border-radius: 5px;
      border-color: #2da0c7;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .luo-koulutus-section {
    .content {
      display: flex;
      flex-direction: row;

      .options-container {
        max-height: 250px;
        overflow-y: auto;
        width: 100%;
      }
    }
  }

  .koulutustyyppi-section {
    .content {
      .koulutustyyppi-list {
        padding-left: 0;
        li {
          list-style: none;
          display: flex;
          flex-direction: row;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .kieliversio-section, .organisaatio-section {
    .content {
      flex-direction: column;
    }
  }

  .koulutuksen-tiedot-section {
    .content {
      align-items: stretch;
      > div {
        margin: 5px;
      }
    }
  }

  .koulutuksen-kuvaus-section {
    .content {
      flex-direction: column;
    }
  }
  .button-container {
    margin-top: 10px;
  }
}