.date-time-editor {
  .inputs {
    display: flex;
    align-items: center;
    input {
      min-width: 0;
    }
    .date-input {
      width: 100px;
    }
    .time-input {
      width: 50px;
    }
    i {
      color: #2da0c7;
      margin: 10px;
    }
  }
}
