.hakukohteen-hakuajat-section {
  .content {
    display: flex;
    flex-direction: column;
    .poikkeava-aikataulu {
      margin-top: 10px;
    }
    .hakukohteen-hakuajat {
      margin-left: 20px;
      .hakukohteen-hakuaika-editor {
        display: flex;
        flex-direction: row;
        .date-time-editor {
          margin-right: 20px;
        }
      }
    }
  }
}
