.hakukohteen-valintaperusteen-kuvaus-section {
  .content {
    display: flex;
    flex-direction: column;
    .info-dropdown {
      margin-bottom: 10px;
    }
    .modal-box {
      input {
        max-width: 500px;
      }
      textarea {
        width: 700px;
      }

    }
  }
}
