[
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRI6CVmnDfcYSIxsEgUNLN71VxIFDf3zgxESBQ2r-yxwEgUNnhLdehIFDSp0YWESBQ2Zu21OEgUN9fZnZQ==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRI6CXSdBIEaz7XSEgUNLN71VxIFDf3zgxESBQ2r-yxwEgUNnhLdehIFDfxyrJQSBQ2ZfxNaEgUNzc0SnA==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRI6CY_NBCbbIFoSEgUNLN71VxIFDYOFN3USBQ3984MREgUNq_sscBIFDZ4S3XoSBQ1GTOL1EgUNGQt3vA==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJ5CZWUI6WBq1bDEgUNLN71VxIFDf3zgxESBQ1ih3MlEgUNCC_boRIFDWmasrQSBQ2gMCIYEgUNonSSThIFDX_zbKESBQ3_uDmyEgUNU2wzphIFDav7LHASBQ2eEt16EgUNm8KHyRIFDfxyrJQSBQ2ZfxNaEgUNzc0SnA==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJBCUvUh_IcSygqEgUNLN71VxIFDYOFN3USBQ3984MREgUNq_sscBIFDZ4S3XoSBQ2bwofJEgUNRkzi9RIFDRkLd7w=?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJICbbuDaNFoF6JEgUNLN71VxIFDf3zgxESBQ3ktuYAEgUNY6BtJRIFDav7LHASBQ2eEt16EgUNKnRhYRIFDZm7bU4SBQ319mdl?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJICdm-_at10TErEgUNLN71VxIFDYOFN3USBQ3984MREgUNq_sscBIFDZ4S3XoSBQ2bwofJEgUNApvkdhIFDUZM4vUSBQ0ZC3e8?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJPCY8CFwpVp40AEgUNLN71VxIFDf3zgxESBQ3ktuYAEgUNY6BtJRIFDav7LHASBQ2eEt16EgUNm8KHyRIFDSp0YWESBQ2Zu21OEgUN9fZnZQ==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJWCUZWsYD7rv7FEgUNLN71VxIFDf3zgxESBQ3ktuYAEgUNY6BtJRIFDav7LHASBQ2eEt16EgUNm8KHyRIFDfUc9egSBQ0qdGFhEgUNmbttThIFDfX2Z2U=?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJWCV10E-saMclfEgUNLN71VxIFDf3zgxESBQ1ih3MlEgUNCC_boRIFDWmasrQSBQ2gMCIYEgUNq_sscBIFDZ4S3XoSBQ38cqyUEgUNmX8TWhIFDc3NEpw=?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJkCfc-3mxIXQFaEgUNzEb7VhIFDav7LHASBQ2eEt16EgUNubbjARIFDRsYbzESBQ2FB_gUEgUNwnhMuxIFDewmXF0SBQ29WWjNEgUNobYXwhIFDQdg84ISBQ0ZfASAEgUNzgZBTw==?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJrCculO7-ZQMGxEgUNzEb7VhIFDav7LHASBQ2eEt16EgUNm8KHyRIFDbm24wESBQ0bGG8xEgUNhQf4FBIFDcJ4TLsSBQ3sJlxdEgUNvVlozRIFDaG2F8ISBQ0HYPOCEgUNGXwEgBIFDc4GQU8=?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJyCSR-_OHRHb9LEgUNzEb7VhIFDav7LHASBQ2eEt16EgUNm8KHyRIFDYN4dzASBQ25tuMBEgUNGxhvMRIFDYUH-BQSBQ3CeEy7EgUN7CZcXRIFDb1ZaM0SBQ2hthfCEgUNB2DzghIFDRl8BIASBQ3OBkFP?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRJyCYTqF8NmZAigEgUNLN71VxIFDf3zgxESBQ1ih3MlEgUNCC_boRIFDWmasrQSBQ2gMCIYEgUNonSSThIFDX_zbKESBQ3_uDmyEgUNU2wzphIFDav7LHASBQ2eEt16EgUN_HKslBIFDZl_E1oSBQ3NzRKc?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://content-autofill.googleapis.com/v1/pages/Chc2LjEuMTcxNS4xNDQyL2VuIChHR0xMKRKAAQnipPdsXs2Z9xIFDSze9VcSBQ3984MREgUNYodzJRIFDQgv26ESBQ1pmrK0EgUNoDAiGBIFDaJ0kk4SBQ1_82yhEgUN_7g5shIFDVNsM6YSBQ2r-yxwEgUNnhLdehIFDZvCh8kSBQ1T5vhSEgUN_HKslBIFDZl_E1oSBQ3NzRKc?alt=proto"
  },
  {
    "method": "GET",
    "url": "https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap"
  },
  {
    "method": "GET",
    "url": "https://fonts.googleapis.com/icon?family=Material+Icons"
  },
  {
    "method": "GET",
    "url": "https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2"
  },
  {
    "method": "GET",
    "url": "https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2"
  },
  {
    "method": "GET",
    "url": "https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/organisaatio/1.1.1.1.1.1/koulutus/1.2.1.1.1.1/toteutus"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/0.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/1.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/10.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/11.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/12.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/14.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/15.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/16.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/17.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/18.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/19.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/2.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/24.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/3.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/32.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/4.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/5.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/52.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/6.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/7.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/8.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/9.chunk.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/bundle.js"
  },
  {
    "method": "GET",
    "url": "https://localhost:3000/kouta/static/js/main.chunk.js"
  }
]