{
  "extends": [
    "react-app",
    "prettier",
    "plugin:lodash/recommended"
  ],
  "plugins": [
    "prettier",
    "lodash"
  ],
  "rules": {
    "@typescript-eslint/no-duplicate-imports": [
      "warn"
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "object": false
        },
        "extendDefaults": true
      }
    ],
    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "generic"
      }
    ],
    "prettier/prettier": "warn",
    "import/no-anonymous-default-export": "off",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "#/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "lodash/import-scope": "off",
    "lodash/prefer-lodash-method": "off",
    "lodash/prefer-lodash-chain": "off",
    "lodash/prefer-constant": "off",
    "lodash/prefer-noop": "off",
    "lodash/prefer-includes": "off",
    "lodash/path-style": "off",
    "no-negated-condition": [
      "warn"
    ],
    "no-implicit-coercion": [
      "warn"
    ],
    "no-var": [
      "warn"
    ]
  },
  "overrides": [
     {
      "files": "./playwright/*.ts",
      "extends": "plugin:playwright/recommended",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "project": "tsconfig.json"
      },
      "rules": {
        "playwright/expect-expect": "off",
        "playwright/no-force-option": "off",
        "@typescript-eslint/no-floating-promises": [
          "error"
        ]
      }
    }
  ]
}