{
  "extends": [
    "react-app",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": "warn"
  }
}
