@opetushallitus:registry=https://artifactory.opintopolku.fi/artifactory/repository/oph-opintopolku-npm/
legacy-peer-deps=true
node-options=--no-warnings=ExperimentalWarning
frozen-lockfile=true
minimumReleaseAge=4320
