.info-dropdown {
  display: flex;
  flex-direction: column;
  margin: 10px;
  select {
    background-color: white;
    border-radius: 2px;
    width: 500px;
    min-height: 40px;
    border: solid 1px #999999;
  }
}
