.koulutus-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 45px !important;
  max-width: 50%;
  .details-row {
    display: flex;
    flex-direction: row;
    div {
      max-width: 50%;
      flex-grow: 1;
    }
    .value-column {
      .osaamisala-list {
        margin: 0;
        list-style: none;
        padding-left: 0;
        li {
          margin: 0;
        }
      }
    }
  }
}
