.modal-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-box {
    background-color: white;
    border-radius: 5px;
    width: 80vw;
    min-height: 300px;
    top: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;

    .modal-box-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      background-color: #2da0c7;
      padding: 10px;
      font-size: 20px;
      border-radius: 5px 5px 0 0;

      .modal-box-title {
        margin-left: 10px;
        flex-grow: 1;
      }
      .modal-box-close-icon {
        cursor: pointer;
      }
    }
    .modal-box-content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 10px;
    }

    .modal-box-footer {
      justify-content: space-between;
      padding: 10px;
      border-top-color: #2da0c7;
      border-top-width: 2px;
      border-top-style: solid;

    }
  }
}
