.nimi-section {
  .content {
    display: flex;
    flex-direction: column;
    .translation-input {
      min-width: 400px;
    }
    .info {
      color: #2da0c7;
      margin-top: 10px;
    }

  }
}
