.section {
  margin-top: 10px;
  background-color: white;
  .header {
    border-style: solid;
    border-color: #888888;
    height: 70px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    position: relative;

    .title {
      flex-grow: 1;
      margin-left: 10px;
      font-size: 25px;
    }
    .controller {
      width: 70px;
      height: 100%;
      background-color: #666666;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:row;
      cursor: pointer;
      i {
        font-size: 70px;
        display: flex;
        color: white;
      }
    }
    .expanded-controller {
      background-color: #1e7998;
    }
    .language-tabs {
      display: flex;
      position: absolute;
      right: 100px;
      margin: 0;
      bottom: -1px;

      .language-tab {
        border-color: #888888;
        color: #2da0c7;
        border-width: 1px;
        border-style: solid;
        margin-left: 10px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
      }
      .active-tab {
        border-bottom-style: none;
        color: black;

      }
    }
  }
  .active-header {
    background-color: #e0f2fd;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    background-color: white;

    .label {
      width: 102px;
      height: 21px;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      color: #6e6e7e;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
    border-top-style: solid;
    border-top-color: #e0f2fd;
    border-width: 1px;

    .spacer {
      flex-grow: 1;
    }
  }
}
