.section {
  margin-top: 10px;
  .header {
    border-style: solid;
    border-color: #888888;
    height: 70px;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

    .title {
      flex-grow: 1;
      margin-left: 10px;
      font-size: 25px;
    }
    .controller {
      width: 70px;
      height: 100%;
      background-color: #666666;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:row;
      cursor: pointer;
      i {
        font-size: 70px;
        display: flex;
        color: white;
      }
    }

    .expanded-controller {
      background-color: #1e7998;
    }
  }
  .active-header {
    background-color: #e0f2fd;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: white;
  }
}