.selector-button {
  position: relative;
  .selector-layer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
    border-radius: 5px;

    top: 30px;
    span {
      padding: 5px 10px 5px 10px;
      white-space: nowrap;
      text-decoration: none;
      color: black;
    }
    span:hover {
      background-color: #fafafa;
      color: #2da0c7;
      cursor: pointer;
    }
  }
  .left {
    left: 5px;
  }
  .right {
    right: 5px;
  }
}
