.tag {
  display: flex;
  background-color: #979797;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  span {
    text-align: center;
    padding: 5px;
    line-height: 1.2;
  }
  i {
    padding: 3px;
  }
}
