.multi-step-indicator {
  background-color: #e0f2fd;
  height: 185px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .circle-container  {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    .stepper-circle {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin:10px;
      flex-grow: 1;
      .circle {
        cursor: pointer;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-width: 5px;
        font-size: 40px;
      }
      .active {
        background-color: #2da0c7;
        border-color: white;
        color: white;
      }
      .inactive {
        color: #999999;
        background-color: white;
        border-color: #cecece;
      }
      .description {
        margin-top: 5px;
        color: #6e6e7e;
      }
    }
  }
}