.toteutuksen-jarjestamistiedot-section {
  .content {
    display: flex;
    flex-direction: column;

    .textarea-field {
      min-width: 50%;
      textarea {
        min-height: 200px;
      }
    }
    .info-header {
      margin-bottom: 0;
    }
    input[type=text] {
      min-width: 0;
      width: 100px;
      margin-right: 10px;
    }
    .option-controls-row {
      @extend .row;
      align-items: flex-end !important;
      .input-field-container {
        justify-content: flex-end;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    .stipendi-editor {
      textarea {
        min-height: 200px;
        width: 100%;
      }
    }

  }
}
