.toteutuksen-jarjestamistiedot-section {
  .content {
    display: flex;
    flex-direction: column;

    .textarea-field {
      min-width: 50%;
      textarea {
        min-height: 200px;
      }
    }
  }
}
