.valintaperusteen-kielitaitovaatimukset-section {
  .option-list {
    margin: 0;
    li {
      .row {
        margin-bottom: 10px;
      }
    }
  }
  .content {
    .kielitutkinto {
      width: 50%;
      .kielitutkinto-selector {
        margin-bottom: 10px;
        input {
          margin-left: 10px;
          max-width: 200px;
        }
      }
    }
    .kielitaito {
      width: 50%;
    }
  }
}
